@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
}
main{
    font: normal normal 1em 'Sriracha',cursive;
}
header{
    background-color: black;
    height: 238px;
}
header h1{
    margin: auto;
    padding-top: 50px;
    color: white;
    text-align: center;
    /* font-variant: small-caps; */
    font: bold 4.2em 'Passion One', cursive;
}
.lgrande{
    font-size: 1.5em;
}
header p{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}

article{
    max-width: 400px;
    padding: 10vh 30px;
    font-size: 2em;
    line-height: 2em;
}
#segpar{
    height: 80vh;
    background:white url(../pacote-d012/imagens/background001.jpg) center bottom no-repeat fixed;
    /* background-size: 140%; */
    position: relative;
}

#fourthp{
    background: white url(../pacote-d012/imagens/background002.jpg) center no-repeat fixed;
}
#p1{
    /* height: 650px; */
    
}
#p1>p{
    font-size: 1.2em;
    width: 500px;
}
#p2{
    color: white;
    background-color: rgba(0, 0, 0, 0.199);
    position: absolute;

    left: 10px;
    top: 20px;
}

#p4{
    color: white;
    background-color: rgba(0, 0, 0, 0.199);
}
footer{
    background-color: black;
}
footer p{
    padding: 8px;
    text-align: center;
    color: white;
    font: normal normal 1em 'Verdana', Arial, sans-serif;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}